.logo {
    height: 100px;
    width: 100px;
    padding: 10px;
    text-align: center;
    font-family: 'Press Start 2P';
    margin-right: calc(100vw - 950px);
    color: #FFF;
}

@keyframes App-logo-change {
    0% {
        color: #FFF;
    }

    50% {
        color: #232f3e;
    }

    100% {
        color: #FFF;
    }
}

.p-fname:hover {
    animation: App-logo-change infinite 1s linear;
}

.p-fname {
    padding: 30px 0 0 0;
    margin: 0;
}

.p-lname {
    margin: 0;
}

.App-header {
    text-align: left;
    background-position: center;
    background-size: cover;
    background-color: #232f3e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-header div {
    display: inline-block;
    color: #FFF;
}

.App-header .links div {
    margin-left: 50px;
    width: 75px;
    padding: 10px;
    text-align: center;
    min-width: min-content;
}

.App-header .links div:hover {
    background-color: #48607d;
  }

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .header-container2 {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media only screen and (max-width: 900px) {
    .logo {
        display: block;
        width: 100%;
        height: auto;
    }

    .App-header .links,
    .App-header .links div {
        display: block;
        margin: 0;
        width: 100%;
    }

    .App-link {
        text-decoration: none;
    }

    .card {
        width: auto;
    }
}